<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tailwind -->
    <link href="../static/css/dist/main.css" rel="stylesheet">
    <title>Exercises</title>
</head>
<body>
    <!-- Nav bar -->

    <h1>Exercises</h1>
    <p>Choose the exercise you want to do</p>
    <ul>
        <!-- Loop through the exercises and display them -->
        {% for exercise in exercises %}
            <li>
                <a href="/exercises/{{ exercise.id }}"><img src="{{ exercise.image }}" width="200" height="200">{{ exercise.name }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>