<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrab -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

	<!-- Bootstrap Icons -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet">



	<title>{{ exercise.name }}</title>

	<style>
		.card {
			background-color: white;
		}

		.card:hover {
			background-color: #f8f9fa;
		}
	</style>
</head>

<body>
	<!-- Nav bar -->
	<div class="p-5 bg-dark"></div>
	<!-- -------- -->
	<!-- Upload Modal -->
	<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="uploadModalLabel">Upload {{ exercise.name }} Video</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="uploadFrom" action="" method="post" enctype="multipart/form-data">
						{{ form.hidden_tag() }}
						<div class="mb-3">
							{{ form.video(class_="form-control", accept_="video/mp4,video/x-m4v,video/*") }}
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button id="uploadButton" type="submit" class="btn btn-primary">Upload</button>
				</div>
			</div>
		</div>
	</div>
	<!-- -------- -->

	<div class="container my-5">
		<p class="fs-2">Choose an option you prefer:</p>
	</div>
	<div class="container my-5">
		<div class="row">
			<div class="col-4">
				<div class="card text-left">
					<div class="card-body">
						<h4 class="card-title"><i class="bi bi-cloud-arrow-up-fill"></i> Upload</h4>
						<p class="card-text">You can uplaod a pre-recorded video of you doing {{ exercise.name }} and
							get our feedback.</p>
						<a href="" class="stretched-link" data-bs-toggle="modal" data-bs-target="#uploadModal"></a>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="card text-left">
					<div class="card-body">
						<h4 class="card-title"><i class="bi bi-record2-fill"></i>Record</h4>
						<p class="card-text">You can record a video of you doing {{ exercise.name }} and get our
							feedback.</p>
						<a href="/exercises/{{ exercise.id }}/record" class="stretched-link"
							style="text-decoration: none;"></a>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="card text-left">
					<div class="card-body">
						<h4 class="card-title"><i class="bi bi-stopwatch-fill"></i> Real-time</h4>
						<p class="card-text">You can do {{ exercise.name }} and get our feedback right away in
							real-time.</p>
						<a href="/exercises/{{ exercise.id }}/realtime" class="stretched-link"
							style="text-decoration: none;"></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div class="p-5 bg-dark"></div>

	<!-- -------- -->

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>

	<script>
		const uploadFrom = document.getElementById('uploadFrom');
		const uploadButton = document.getElementById('uploadButton');

		uploadButton.addEventListener('click', () => uploadFrom.submit());
	</script>


</body>

</html>