{% extends 'master.html' %}
{% block title %}
Exercises
{% endblock title %}

{% block headings %}
<style>
	.card {
		transition: 0.2s opacity;
	}

	.card:hover {
		opacity: 90%;
	}
</style>
{% endblock headings %}

{% block content %}

<div class="container my-5">
	<p class="fs-2">Choose an exercise:</p>
</div>
<div class="container text-center">
	<div class="row">
		{% for exercise in exercises %}
		<div class="col-4 my-3">
			<div class="card text-left">
				<img class="card-img-top"
					src="{{ url_for('static', filename = 'images/exercises/' + exercise.image) }}" />
				<div class="card-body">
					<h4 class="card-title">{{ exercise.name }}</h4>
					<!-- <p class="card-text">Body</p> -->
					<a href="/exercises/{{ exercise.id }}" class="stretched-link" style="text-decoration: none">See
						more</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<!-- Footer -->
<div class="p-5 bg-dark"></div>

<!-- -------- -->
{% endblock content %}