{% extends 'master.html' %}
{% block title %}{{ exercise.name }}{% endblock title %}

{% block headings %}
<style>
	.card {
		background-color: white;
	}

	.card:hover {
		background-color: #f8f9fa;
	}
</style>
{% endblock headings %}



{% block content %}

<!-- Nav bar -->
<div class="p-5 bg-dark"></div>
<!-- -------- -->
<!-- Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="uploadModalLabel">Upload {{ exercise.name }} Video</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="uploadFrom" action="" method="post" enctype="multipart/form-data">
					{{ form.hidden_tag() }}
					<div class="mb-3">
						{{ form.video(class_="form-control", accept_="video/mp4,video/x-m4v,video/*") }}
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button id="uploadButton" type="submit" class="btn btn-primary">Upload</button>
			</div>
		</div>
	</div>
</div>
<!-- -------- -->

<div class="container my-5">
	<p class="fs-2">Choose an option you prefer:</p>
</div>
<div class="container my-5">
	<div class="row">
		<div class="col-4">
			<div class="card text-left">
				<div class="card-body">
					<h4 class="card-title"><i class="bi bi-cloud-arrow-up-fill"></i> Upload</h4>
					<p class="card-text">You can uplaod a pre-recorded video of you doing {{ exercise.name }} and
						get our feedback.</p>
					<a href="" class="stretched-link" data-bs-toggle="modal" data-bs-target="#uploadModal"></a>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="card text-left">
				<div class="card-body">
					<h4 class="card-title"><i class="bi bi-record2-fill"></i>Record</h4>
					<p class="card-text">You can record a video of you doing {{ exercise.name }} and get our
						feedback.</p>
					<a href="/exercises/{{ exercise.id }}/record" class="stretched-link"
						style="text-decoration: none;"></a>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="card text-left">
				<div class="card-body">
					<h4 class="card-title"><i class="bi bi-stopwatch-fill"></i> Real-time</h4>
					<p class="card-text">You can do {{ exercise.name }} and get our feedback right away in
						real-time.</p>
					<a href="/exercises/{{ exercise.id }}/realtime" class="stretched-link"
						style="text-decoration: none;"></a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Footer -->
<div class="p-5 bg-dark"></div>


<script>
	const uploadFrom = document.getElementById('uploadFrom');
	const uploadButton = document.getElementById('uploadButton');

	uploadButton.addEventListener('click', () => uploadFrom.submit());
</script>

{% endblock content %}