{% extends 'master.html' %}

<!-- title -->
{% block title %}
{{ exercise.name }}
{% endblock title %}

<!-- headings -->
{% block headings %}

{% endblock headings %}

<!-- content -->
{% block content %}

<div class="container my-4">
    <h1>{{ exercise.name }}</h1>
</div>

<div class="container-fluid my-5">
    <img src="{{ url_for('video') }}" class="mx-auto d-block rounded">
    <div class="d-grid col-5 mx-auto my-4">
        <button class="btn btn-secondary btn-lg">Start</button>
    </div>
</div>

<!-- Footer -->
<div class="p-5 bg-dark"></div>
{% endblock content %}