{% extends 'master.html' %}

<!-- title -->
{% block title %}
{{ exercise.name }} Feedback
{% endblock title %}

<!-- headings -->
{% block headings %}

{% endblock headings %}

<!-- content -->
{% block content %}
<!-- Nav bar -->
<div class="p-5 bg-dark"></div>
<!-- -------- -->

<div class="container my-4">
    <h1>{{ exercise.name }} Feedback</h1>
    <p>Here is our feedback on your video</p>
</div>

<div class="d-flex justify-content-center my-5 text-center">
    <video class="object-fit-cover rounded-3" width="50%" controls autoplay muted>
        <source src="{{ url_for('static', filename = video_path) }}">
    </video>
</div>

<!-- Footer -->
<div class="p-5 bg-dark"></div>
{% endblock content %}