{% extends 'master.html' %}

{% block title %}
Record {{ exercise.name }}
{% endblock title %}

{% block headings %}
{% endblock headings %}

{% block content %}

<div class="container my-4">
    <h1>{{ exercise.name }}</h1>
    <p>You can start recording video of you doing {{ exercise.name }}</p>
</div>

<div class="container my-5">
    <img src="{{ url_for('video') }}" class="mx-auto d-block rounded" />
    <div class="d-flex flex-row justify-content-between my-4 mx-auto" style="width: 50%">
        <button id="startButton" class="btn btn-dark btn-lg px-5">Start</button>
        <button id="stopButton" class="btn btn-dark btn-lg px-5">Stop</button>
        <a id="evaluateButton" class="btn btn-dark btn-lg px-5"
            href="{{ url_for('evaluate', exercise_id=exercise.id) }}">Evaluate</a>
    </div>
</div>

<!-- Script to handle record buttons -->
<script type="text/javascript" src="{{ url_for('static', filename='js/recorder.js') }}"></script>
<!-- Footer -->
<div class="p-5 bg-dark"></div>

<!-- -------- -->
{% endblock content %}